*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  min-width: 320px;
  font-family: "LandRover-Demi";
  color: #0c121c;
  font-size: 14px;
  letter-spacing: 1px;
  background: #fff;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: #0c121c;
  text-decoration: none;
}

a:hover {
  color: #005A2B;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

button:focus {
  outline: none;
}

label {
  cursor: pointer;
}

h2 {
  font-family: "LandRover-Bold";
  letter-spacing: 1.9px;
  text-align: center;
  text-transform: uppercase;
}

@font-face {
  font-family: "LandRover-Demi";
  src: url("../fonts/LandRover-Demi.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "LandRover-Bold";
  src: url("../fonts/LandRover-Bold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Demi.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Demi.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "AvenirNextCyr";
  src: url("../fonts/AvenirNextCyr-Bold.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

.button {
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 23px;
  border: 1px solid #0c121c;
  background: #0c121c;
}

.button:hover {
  color: #0c121c;
  background: #F8F9F9;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.button__link {
  position: relative;
  font-family: "AvenirNextCyr";
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  line-height: 12px;
  padding-left: 20px;
}

.button__link:after {
  display: block;
  position: absolute;
  top: 3px;
  left: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid #0c121c;
  border-right: 1px solid #0c121c;
}

.button_white {
  color: #0c121c;
  border: none;
  background: #fff;
}

.button_white:hover {
  color: #fff;
  background: #0c121c;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

section h2 {
  font-family: "LandRover-Bold";
  font-size: 26px;
  letter-spacing: 1.9px;
  text-align: center;
  text-transform: uppercase;
  line-height: 26px;
  padding: 0 15px;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

.main {
  padding-top: 52px;
}

.dropdown-menu {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  -webkit-transform: translateX(9999px);
      -ms-transform: translateX(9999px);
          transform: translateX(9999px);
  width: 100%;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.dropdown-menu_active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.dropdown-menu_hidden {
  overflow-x: hidden;
}

.dropdown-menu__back-btn {
  position: relative;
  width: 100%;
  min-height: 50px;
  font-family: "AvenirNextCyr";
  color: #0c121c;
  font-size: 11px;
  font-weight: 450;
  letter-spacing: 1.37px;
  text-align: center;
  text-transform: uppercase;
  line-height: 14px;
  padding: 18px;
  background: #E9ECEC;
}

.dropdown-menu__back-btn:after {
  display: block;
  position: absolute;
  top: 20px;
  left: 17px;
  -webkit-transform: rotate(225deg);
      -ms-transform: rotate(225deg);
          transform: rotate(225deg);
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #0c121c;
  border-right: 1px solid #0c121c;
}

.dropdown-menu__close-btn {
  display: none;
}

.dropdown-menu__dropdown-menu-items_hidden {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  overflow-y: hidden;
}

.dropdown-menu__submenu-title,
.dropdown-menu__link-item {
  display: block;
  position: relative;
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 12px;
  font-weight: 750;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  line-height: 14px;
  padding: 18px 0 21px 17px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

.dropdown-menu__submenu-title:after,
.dropdown-menu__link-item:after {
  display: block;
  position: absolute;
  top: 19px;
  right: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #0c121c;
  border-right: 1px solid #0c121c;
}

.dropdown-menu__link-item {
  font-size: 10px;
  font-weight: 600;
}

.dropdown-menu__link-item:after {
  display: none;
}

.dropdown-menu__link-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.dropdown-menu__link-wrap:after {
  display: block;
  position: absolute;
  top: 34px;
  right: 17px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid #005A2B;
  border-right: 1px solid #005A2B;
}

.dropdown-menu__thumb-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdown-menu__content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 300;
  -webkit-transform: translateX(-2500px);
      -ms-transform: translateX(-2500px);
          transform: translateX(-2500px);
  width: 100%;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.dropdown-menu__content_active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.dropdown-menu__item-info,
.dropdown-menu__about-info {
  width: 100%;
  padding: 20px 35px 19px 17px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu__item-info p,
.dropdown-menu__about-info p {
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  line-height: 14px;
}

.dropdown-menu__item-info span,
.dropdown-menu__about-info span {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0.267143px;
  line-height: 14px;
}

.dropdown-menu__about-info p {
  color: #4A4F54;
  font-size: 10px;
  letter-spacing: 1.73px;
}

.dropdown-menu__main-info {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-menu__offers-icon {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  fill: #4A4F54;
}

.dropdown-menu__icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 18px 0 21px 17px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu__icons-wrap:hover .dropdown-menu__offers-icon {
  fill: #005A2B;
}

.dropdown-menu__icon-title {
  font-family: "AvenirNextCyr";
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  line-height: 20px;
}

.dropdown-menu__car-desc {
  padding: 16px 20px;
  border-bottom: 1px solid #ccc;
}

.dropdown-menu__car-desc .container {
  max-width: none;
  padding: 0;
}

.dropdown-menu__car-desc h3 {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 3px;
}

.dropdown-menu__car-desc span {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 10px;
  font-weight: 450;
  letter-spacing: 0.72px;
  text-transform: uppercase;
  line-height: 12px;
}

.dropdown-menu__car-disclaimer {
  display: none;
  padding: 0 32px 36px 30px;
}

.dropdown-menu__car-disclaimer p {
  color: #4A4F54;
  font-size: 10px;
  font-weight: 450;
  letter-spacing: 0.72px;
  line-height: 12px;
}

.dropdown-menu__car-subtitle {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-weight: 450;
  letter-spacing: 0.28px;
  line-height: 18px;
  margin-bottom: 10px;
}

.dropdown-menu__car-price {
  font-family: "AvenirNextCyr";
  color: #0c121c;
  font-size: 20px;
  font-weight: 750;
  line-height: 23px;
  margin-top: 5px;
}

.dropdown-menu__car-price span {
  font: inherit;
  font-family: Arial;
  margin-left: 4px;
}

.dropdown-menu__car-links {
  padding: 20px 16px 26px;
}

.dropdown-menu__car-links li:not(:last-child) {
  margin-bottom: 17px;
}

.dropdown-menu__car-links a:after {
  border-color: #005A2B;
}

.dropdown-menu__car-stock {
  padding: 0 0 25px 20px;
}

.dropdown-menu__car-stock a {
  display: inline-block;
  font-family: "AvenirNextCyr";
  font-size: 10px;
  font-weight: 750;
  letter-spacing: 3px;
  line-height: 12px;
  margin-top: 10px;
}

.dropdown-menu__model-infos {
  display: none;
}

.dropdown-menu__model-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown-menu__model-info svg {
  width: 28px;
  height: 28px;
  margin-bottom: 16px;
}

.dropdown-menu__model-info span {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 10px;
  font-weight: 450;
  letter-spacing: 0.72px;
  line-height: 12px;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 60px;
  background: #4A4F54;
}

.page-header h1 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.map-container {
  height: 400px;
}

.header {
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  min-height: 50px;
  line-height: 14px;
}

.header__wrapper {
  position: relative;
  width: 100%;
  padding: 6px 0 9px 12px;
  background: #fff;
  -webkit-box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 1px 4px rgba(0, 0, 0, 0.1);
}

.header__logo img {
  width: 56px;
  margin-top: 6px;
}

.header__dealer-name {
  color: #0c121c;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 6px;
  margin-right: 50px;
}

.header__contacts-item {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: .3px;
}

.header__contacts-item:not(:last-child) {
  margin-right: 62px;
}

.header__contacts-item p {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: .3px;
  line-height: 14px;
}

.header__lang-toogle {
  display: none;
  font-family: "AvenirNextCyr";
  color: #0c121c;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.7px;
  text-transform: uppercase;
}

.header__list-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header__list-item:not(:last-child) {
  margin-right: 19px;
}

.header__list-link {
  font-family: "AvenirNextCyr";
  color: #0c121c;
  font-size: 8px;
  font-weight: 600;
  letter-spacing: 1.73px;
  text-transform: uppercase;
}

.header__list-link_dropdown:after {
  display: block;
  position: absolute;
  top: 19px;
  right: 20px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 8px;
  height: 8px;
  border-top: 1px solid #0c121c;
  border-right: 1px solid #0c121c;
}

.header__list-link_active {
  color: #005A2B;
  background: #F8F9F9;
}

.header__list-link_active:after {
  border-color: #005A2B;
}

.header__list-icon {
  width: 18px;
  height: 18px;
}

.header__list-icon:not(:last-child) {
  margin-right: 18px;
}

.header__burger-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
}

.header__burger-btn:before {
  position: absolute;
  top: 19px;
  left: 17px;
  content: '';
  width: 16px;
  height: 16px;
  border: 2px solid #0c121c;
  border-right: 0;
  border-left: 0;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__burger-btn:after {
  position: absolute;
  top: 26px;
  left: 17px;
  content: '';
  width: 16px;
  border-top: 2px solid #0c121c;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.header__burger-btn_active {
  background: #E9ECEC;
}

.header__burger-btn_active:before {
  position: absolute;
  top: 24px;
  left: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: '';
  width: 16px;
  height: 0;
  border-bottom: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__burger-btn_active:after {
  position: absolute;
  top: 24px;
  left: 18px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  content: '';
  width: 16px;
  height: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__mob-menu {
  display: block;
  position: fixed;
  top: 50px;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-5000px);
      -ms-transform: translateX(-5000px);
          transform: translateX(-5000px);
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #fff;
  -webkit-transition: .4s;
  -o-transition: .4s;
  transition: .4s;
}

.header__mob-menu_active {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.header__mob-menu .header__list-items {
  display: block;
}

.header__mob-menu .header__list-item {
  margin-right: 0;
}

.header__mob-menu .header__list-link {
  display: block;
  position: relative;
  font-size: 10px;
  padding: 18px 20px 21px 17px;
  border-bottom: 1px solid #e8e8e8;
}

.header__mob-menu .header__contacts-list {
  display: block;
  width: 100%;
  background: #F8F9F9;
}

.header__mob-menu .header__contacts-item {
  position: relative;
  border-bottom: 1px solid #e8e8e8;
}

.header__mob-menu .header__contacts-item:not(:last-child) {
  margin-right: 0;
}

.header__mob-menu .header__contacts-item a {
  padding: 15px 15px 16px 17px;
  margin: 0 !important;
}

.header__mob-menu .header__contacts-item span {
  font-size: 14px;
}

.header__mob-menu .header__contacts-item p {
  font-size: 14px;
  margin-bottom: 5px;
}

.header__mob-menu .header__phone-icon {
  width: 21px;
  height: 21px;
}

.header__mob-menu .header__list-icon {
  width: 21px;
  height: 21px;
}

.header__mob-menu .header__list-icons li {
  border-bottom: 1px solid #E9ECEC;
}

.header__mob-menu .header__list-icons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 34px 13px 16px;
}

.header__mob-menu .header__list-icons span {
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  line-height: 14px;
}

.header__mob-menu .header__lang-toogle {
  display: block;
  padding: 17px 34px 19px 17px;
}

.footer {
  font-family: "AvenirNextCyr";
  color: #0c121c;
}

.footer__wrap-items {
  padding: 20px 30px;
  margin-bottom: 15px;
  background: #4A4F54;
}

.footer__menu-links a {
  display: block;
  color: #e4e8e8;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 38px 15px 40px 15px;
}

.footer__socials-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e4e8e8;
  font-size: 10px;
}

.footer__socials-item:hover {
  color: #e4e8e8;
}

.footer__socials-item:not(:last-child) {
  margin-right: 15px;
}

.footer__socials-item span {
  display: none;
  text-transform: uppercase;
}

.footer__socials-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 10px;
  background: #0c121c;
}

.footer__socials-icon svg {
  width: 18px;
  height: 18px;
}

.footer__links {
  border-bottom: 1px solid #E9ECEC;
}

.footer__links li {
  display: inline-block;
  margin: 0 10px 20px 0;
}

.footer__links a {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.footer__copyright {
  padding: 25px 0;
}

.footer__copyright p {
  font-size: 12px;
}

.footer__copyright p:not(:last-child) {
  margin-bottom: 10px;
}

.icons-block .container-fluid {
  padding: 0;
}

.icons-block__icon-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 23px 36px 25px 25px;
}

.icons-block__icon-item:hover svg {
  fill: #005A2B;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.icons-block__icon-item:hover .icons-block__text {
  color: #005A2B;
}

.icons-block__icon-item:not(:last-child) {
  border-bottom: 1px solid #E9ECEC;
}

.icons-block__icon-item svg {
  width: 30px;
  height: 30px;
  margin-right: 31px;
  fill: #0C121C;
}

.icons-block__title {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  line-height: 16px;
  padding-left: 15px;
}

.icons-block__title:after {
  display: block;
  position: absolute;
  top: 5px;
  left: 0px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid #005A2B;
  border-right: 1px solid #005A2B;
}

.icons-block__text {
  display: none;
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-size: 14px;
  font-weight: 450;
  letter-spacing: 0.28px;
  line-height: 18px;
}

.dealer-block {
  padding-top: 33px;
  padding-bottom: 33px;
  background: #F8F9F9;
}

.dealer-block__title {
  margin-bottom: 28px;
}

.dealer-block__subtitle {
  display: block;
  font-family: "AvenirNextCyr";
  font-weight: 450;
  letter-spacing: 0.34px;
  text-align: center;
  line-height: 18px;
  margin-bottom: 29px;
}

.dealer-block__text {
  margin-bottom: 29px;
}

.dealer-block__text p {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  font-weight: normal;
  letter-spacing: 0.28px;
  line-height: 18px;
}

.dealer-block__text p:not(:last-child) {
  margin-bottom: 25px;
}

.dealer-block__buttons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dealer-block__btn {
  font-family: "AvenirNextCyr";
  font-size: 10px;
  font-weight: 750;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 12px;
  margin-bottom: 21px;
}

.dealer-block__btn-link:after {
  border-color: #005A2B;
}

.news-block {
  padding-bottom: 35px;
  background: #E9ECEC;
}

.news-block .col-md-3 {
  padding: 0 20px;
}

.news-block .swiper-pagination {
  position: relative;
  margin-top: 30px;
}

.news-block .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0;
  border: 2px solid #0c121c;
  border-radius: 100%;
  background: transparent;
  opacity: 1;
}

.news-block .swiper-pagination-bullet:not(:last-child) {
  margin-right: 22px;
}

.news-block .swiper-pagination-bullet-active {
  background: #0c121c;
}

.news-block__title {
  margin-bottom: 28px;
}

.news-block__item {
  width: 193px;
}

.news-block__item-img {
  margin-bottom: 21px;
}

.news-block__item-title {
  font-family: "LandRover-Bold";
  font-size: 15px;
  letter-spacing: 0.75px;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 8px;
}

.news-block__item-text {
  font-family: "AvenirNextCyr";
  color: #4A4F54;
  letter-spacing: 0.28px;
  line-height: 18px;
  margin-bottom: 20px;
}

.news-block__item-btn:after {
  border-color: #005A2B;
}

.car-stock-block {
  background: #4A4F54;
}

.car-stock-block .container-fluid {
  padding: 0;
}

.car-stock-block__wrapper {
  height: 100%;
  padding: 24px 21px 31px 20px;
}

.car-stock-block__title {
  font-family: "LandRover-Bold";
  color: #fff;
  font-size: 18px;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  line-height: 18px;
  margin-bottom: 10px;
}

.car-stock-block__text {
  font-family: "AvenirNextCyr";
  color: #F8F9F9;
  font-weight: normal;
  letter-spacing: 0.28px;
  line-height: 18px;
  margin-bottom: 20px;
}

.car-stock-block__btn {
  font-family: "AvenirNextCyr";
  font-size: 10px;
  font-weight: 750;
  letter-spacing: 3px;
  text-transform: uppercase;
  line-height: 12px;
}

.hero-block {
  position: relative;
}

.hero-block__info {
  text-align: center;
  padding: 18px 21px 40px;
  background: #fff;
}

.hero-block__info-title {
  padding: 0;
  margin-bottom: 10px;
}

.hero-block__info-title br {
  display: none;
}

.hero-block__info-subtitle {
  text-transform: uppercase;
}

.hero-block__info-btn {
  min-width: 139px;
  font-size: 10px;
  letter-spacing: 3px;
  margin-top: 19px;
}

.hero-block__arrow-down {
  display: none;
  position: absolute;
  bottom: 0;
  left: 50%;
  z-index: 1;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 50px;
  height: 50px;
  padding: 0;
}

.hero-block__arrow-down svg {
  width: 20px;
  height: 20px;
}

.hero-block__arrow-down:hover {
  background: #0c121c;
}

.hero-block .swiper-pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  bottom: 205px;
  z-index: 1;
  height: 35px;
}

.hero-block .swiper-pagination-bullet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 30px;
  height: 100%;
  color: #fff;
  font-size: 18px;
  margin: 0 !important;
  background: transparent;
  outline: none;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-tap-highlight-color: transparent;
}

.hero-block .swiper-pagination-bullet-active {
  width: 30px;
  font-size: 31px;
  margin: 0 !important;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.hero-block .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
  opacity: .5;
}

.fixed-sidebar {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 999;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.fixed-sidebar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 250px;
  cursor: pointer;
}

.fixed-sidebar__hidden-part {
  position: relative;
  top: 0;
  right: -900px;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: right;
  padding: 21px 14px 22px 14px;
  border-bottom: 1px solid #4A4F54;
  background: #0c121c;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.fixed-sidebar__hidden-part_show {
  right: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.fixed-sidebar__hidden-part span {
  font-family: "AvenirNextCyr";
  color: #fff;
  font-size: 10px;
  letter-spacing: 1.73px;
  text-transform: uppercase;
  line-height: 14px;
}

.fixed-sidebar__showed-part {
  padding: 18px 14px 19px 14px;
  border-bottom: 1px solid #4A4F54;
  background: #0c121c;
}

.fixed-sidebar__showed-part svg {
  width: 20px;
  height: 20px;
}

@media (min-width: 576px) {
  .dropdown-menu__car-desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dropdown-menu__car-subtitle {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .dropdown-menu__main-info {
    width: 445px;
  }

  .dropdown-menu__cars-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 1px 0px 4px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu__car-disclaimer {
    display: block;
  }

  .dropdown-menu__model-infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
  }

  .dropdown-menu__other-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__contacts-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .icons-block__icon-item:not(:last-child) {
    border-right: 1px solid #E9ECEC;
  }

  .car-stock-block__title {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 24px;
  }

  .car-stock-block__text {
    margin-bottom: 37px;
  }

  .hero-block__info {
    position: absolute;
    top: 50%;
    left: 64px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    max-width: 350px;
    text-align: left;
    padding: 18px 26px 26px 24px;
  }

  .hero-block__info-title {
    text-align: left;
  }

  .hero-block__info-title br {
    display: block;
  }

  .hero-block__arrow-down {
    display: block;
  }

  .hero-block .swiper-pagination {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    bottom: 19px;
    left: 90px;
    width: auto;
  }

  .hero-block .swiper-pagination-bullet {
    font-size: 24px;
  }

  .hero-block .swiper-pagination-bullet-active {
    font-size: 42px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 1228px !important;
  }

  section h2 {
    font-size: 38px;
    line-height: 38px;
  }

  .dropdown-menu__main-info {
    width: 590px;
  }

  .dropdown-menu__car-desc {
    padding: 0 0 50px;
    margin: 30px 30px 0;
  }

  .dropdown-menu__model-infos {
    padding: 35px 59px 36px;
  }

  .header__logo img {
    width: 60px;
  }

  .footer__socials {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
    margin-bottom: 18px;
  }

  .footer__socials-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .footer__socials-item span {
    display: block;
  }

  .news-block .swiper-pagination-bullet {
    display: none;
  }

  .news-block__title {
    padding-top: 60px;
    margin-bottom: 56px;
  }

  .news-block__list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }

  .news-block__item-img {
    margin-bottom: 25px;
  }

  .news-block__item-title {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}

@media (min-width: 1200px) {
  .main {
    padding-top: 102px;
  }

  .dropdown-menu {
    top: 102px;
    bottom: auto;
    -webkit-transform: translateY(-2000px);
        -ms-transform: translateY(-2000px);
            transform: translateY(-2000px);
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    -webkit-transition: .4s;
    -o-transition: .4s;
    transition: .4s;
  }

  .dropdown-menu_active {
    position: absolute;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
  }

  .dropdown-menu__back-btn {
    display: none;
  }

  .dropdown-menu__close-btn {
    display: block;
    position: absolute;
    top: 11px;
    right: 14px;
    z-index: 500;
    width: 30px;
    height: 30px;
  }

  .dropdown-menu__close-btn svg {
    width: 15px;
    height: 15px;
  }

  .dropdown-menu__dropdown-menu-items_hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: static;
  }

  .dropdown-menu__submenu-title,
  .dropdown-menu__link-item {
    padding: 0;
    border-bottom: none;
  }

  .dropdown-menu__submenu-title:after,
  .dropdown-menu__link-item:after {
    display: none;
  }

  .dropdown-menu__submenu-title {
    margin-bottom: 30px;
  }

  .dropdown-menu__link-wrap:after {
    display: none;
  }

  .dropdown-menu__thumb-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .dropdown-menu__content {
    position: absolute;
  }

  .dropdown-menu__content_active {
    position: relative;
  }

  .dropdown-menu__content li:not(:last-child) {
    margin-bottom: 15px;
  }

  .dropdown-menu__item-info span,
  .dropdown-menu__about-info span {
    display: none;
  }

  .dropdown-menu__dropdown-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .dropdown-menu__item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .dropdown-menu__about-info {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
    margin-top: 23px;
    border: none;
  }

  .dropdown-menu__list-wrap,
  .dropdown-menu__dropdown-list {
    padding: 71px 45px 65px 89px;
  }

  .dropdown-menu__list-wrap .dropdown-menu__content {
    position: static;
    -webkit-transform: none;
        -ms-transform: none;
            transform: none;
    overflow: auto;
  }

  .dropdown-menu__main-info {
    width: auto;
    -ms-flex-negative: 1;
        flex-shrink: 1;
    max-width: 590px;
  }

  .dropdown-menu__thumb-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 17%;
    text-align: center;
    margin-bottom: 48px;
  }

  .dropdown-menu__thumb-item:not(:nth-child(5n+5)) {
    margin-right: 31px;
  }

  .dropdown-menu__offers-icons {
    padding: 54px 0 57px;
    border-top: 1px solid #ccc;
  }

  .dropdown-menu__offers-icon {
    width: 40px;
    height: 40px;
    margin: 0;
  }

  .dropdown-menu__icons-wrap {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    border: none;
  }

  .dropdown-menu__icon-title {
    line-height: 14px;
    margin-top: 24px;
  }

  .dropdown-menu__list-cars {
    position: relative;
    z-index: 1000;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 390px;
    background: #fff;
    -webkit-box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
  }

  .dropdown-menu__cars-wrap {
    height: 100%;
  }

  .dropdown-menu__car-links {
    padding: 30px;
  }

  .dropdown-menu__other-info {
    width: 300px;
  }

  .page-header {
    height: 194px;
  }

  .page-header h1 {
    font-size: 38px;
    letter-spacing: 1.9px;
  }

  .header__wrapper {
    z-index: 1000;
    padding: 19px 26px 13px;
  }

  .header__logo {
    margin-right: 25px;
  }

  .header__logo img {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
  }

  .header__dealer-name {
    font-size: 14px;
    text-align: left;
    margin-top: 0;
    margin-right: 0;
  }

  .header__lang-toogle {
    display: block;
    position: absolute;
    top: 21px;
    right: 24px;
  }

  .header__nav-menu {
    padding-left: 106px;
    margin-top: -2px;
  }

  .header__list-item:not(:last-child) {
    margin: 0 10px 2px 0;
  }

  .header__list-link {
    font-size: 10px;
    padding: 14px 9px 18px;
  }

  .header__list-link_active {
    color: #0c121c;
    background: #E9ECEC;
    -webkit-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
  }

  .header__list-link_active:after {
    display: none;
  }

  .header__list-link_dropdown:after {
    display: none;
  }

  .header__list-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-right: 0 !important;
  }

  .header__list-icon {
    display: inline-block;
  }

  .header__burger-btn {
    display: none;
  }

  .header__mob-menu {
    display: none;
  }

  .header__mob-menu .header__lang-toogle {
    display: none;
  }

  .footer a:hover {
    text-decoration: underline;
  }

  .footer .container-fluid {
    padding-right: 90px;
    padding-left: 90px;
  }

  .footer__wrap-items {
    padding: 20px 0;
  }

  .icons-block .container-fluid {
    padding: 0 65px;
  }

  .icons-block__icon-item:not(:last-child) {
    border-bottom: none;
  }

  .icons-block__icon-item {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 31px 36px 34px 25px;
  }

  .icons-block__icon-item:not(:last-child) {
    border-right: 1px solid #E9ECEC;
  }

  .icons-block__icon-item svg {
    width: 45px;
    height: 45px;
    margin-right: 0;
    margin-bottom: 27px;
  }

  .icons-block__title {
    margin-bottom: 10px;
  }

  .icons-block__text {
    display: block;
  }

  .dealer-block {
    padding: 60px 280px 62px;
  }

  .dealer-block__subtitle {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.26px;
    line-height: 23px;
  }

  .dealer-block__text {
    margin-bottom: 43px;
  }

  .news-block .container-fluid {
    padding: 0px 90px;
  }

  .news-block {
    padding-bottom: 59px;
  }

  .news-block__item {
    width: 245px;
  }

  .car-stock-block {
    padding-left: 90px;
  }

  .car-stock-block__wrapper {
    padding: 89px 48px 82px 0;
  }

  .fixed-sidebar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (min-width: 576px) and (max-width: 992px) {
  .icons-block .container-fluid {
    max-width: 100%;
  }
}